.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white-content {
  background: rgb(236,217,148);
background: radial-gradient(circle, rgba(236,217,148,1) 0%, rgba(184,237,196,1) 49%, rgba(207,222,242,1) 100%);
}


.dark-content{
  background: rgb(124,102,22);
background: radial-gradient(circle, rgba(124,102,22,1) 0%, rgba(5,63,18,1) 49%, rgba(0,0,0,1) 100%);
}
